aniso8601==9.0.1
apispec==5.1.1
apispec-webframeworks==0.5.2
attrs==21.2.0
click==8.0.3
Flask==2.0.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
flask-restplus==0.13.0
itsdangerous==2.0.1
Jinja2==3.0.2
jsonschema==4.1.0
MarkupSafe==2.0.1
marshmallow==3.13.0
pyrsistent==0.18.0
pytz==2021.3
PyYAML==5.4.1
six==1.16.0
swagger-ui==0.1.2
swagger-ui-py==21.9.28
tornado==6.1
Werkzeug==2.0.2
